<div class="w-full">
  <div class="bg-[#042440] text-white">
    <div class="flex w-full px-24 py-12">
      <div class="w-1/2 flex items-center">
        <div class="w-1/2">
          <h1 class="font-bold mb-6">COMPANY</h1>
          <div class="text-sm space-y-3">
            <p>Our Story</p>
            <p>Careers</p>
            <p>Blog</p>
            <p><a routerLink="/about"> About</a></p>
          </div>
        </div>
        <div class="w-1/2 mr-16">
          <h1 class="font-bold mb-6">HELP</h1>
          <div class="text-sm space-y-3">
            <p>FAQ</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>Contact Us</p>
          </div>
        </div>
        <div></div>
      </div>
      <div class="w-1/2 h-full flex items-start justify-between mt-20 px-12">
        <div class="flex flex-col items-center justify-center space-y-2 w-1/2">
          <h1>SOCIAL MEDIA</h1>
          <div class="flex space-x-4">
            <div>
              <button>
                <a href="https://www.instagram.com/"
                  ><img src="/assets/icons/instagram.png" alt=""
                /></a>
              </button>
            </div>
            <div>
              <button>
                <a href="https://www.facebook.com/login/"
                  ><img src="/assets/icons/facebook.png" alt=""
                /></a>
              </button>
            </div>
            <div>
              <button>
                <a href="https://www.whatsapp.com/"
                  ><img src="/assets/icons/whatsup.png" alt=""
                /></a>
              </button>
            </div>
            <div>
              <button>
                <a href="https://www.linkedin.com/"
                  ><img src="/assets/icons/linkedin.png" alt=""
                /></a>
              </button>
            </div>
          </div>
        </div>
        <div class="space-y-2 w-1/2">
          <h1>STAY UPDATED WITH US</h1>
          <form action="">
            <div class="relative w-60">
              <input
                class="py-1 px-2 text-start w-full"
                type="text"
                placeholder="Your email address"
              />
              <button class="absolute inset-y-0 right-0 w-5 mr-2">
                <img src="/assets/icons/Button - submit.png" alt="" />
              </button>
            </div>
          </form>
          <p>Copyright &#64; 2023 Fitsnap</p>
        </div>
      </div>
    </div>
  </div>
</div>
