<div class="w-full">
  <div class="lg:mx-64 md:mx-40 sm:mx-24 mx-8 space-y-8 my-10">
    <div class="text-left space-y-4">
      <h1 class="text-[#100D81] text-2xl font-semibold">About the Exercise</h1>
      <p>
        The barbell curl is a classic and effective bicep exercise that targets
        the<br />
        brmuscles in the front of your upper arms, specifically the biceps
        brachii.<br />
        Barbell curls into your workout routine can help develop and
        strengthen<br />
        your biceps, contributing to overall arm strength and aesthetics
      </p>
    </div>

    <div class="space-y-4">
      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Target area</h1>
        <p>Biceps brachii and forearm muscles</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">
          Level for difficulty
        </h1>
        <p>Beginner friendly</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Number of set</h1>
        <p>3</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Duration</h1>
        <p>20 minutes</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Calories burn</h1>
        <p>150 cal</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Equipment needed</h1>
        <p>Barbell</p>
      </div>

      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">
          Instruction to perform
        </h1>
        <ul class="list-disc ml-6">
          <li>
            Stand up straight with your feet shoulder-width apart. Hold a
            barbell
          </li>
          <li>
            with a shoulder-width grip, palms facing forward (an underhand
            grip).
          </li>
          <li>
            Your hands should be positioned slightly wider than your shoulders.
            Keep
          </li>
          <li>
            your wrists straight and aligned with your forearms. Maintain a
            straight
          </li>
          <li>
            back, chest up, and shoulders back. While keeping your upper arms
          </li>
          <li>
            stationary, exhale and curl the barbell towards your shoulders by
          </li>
          <li>
            flexing your elbows. Focus on contracting your biceps throughout the
          </li>
          <li>
            movement. Inhale and slowly lower the barbell back to the starting
          </li>
          <li>
            position with controlled movement. Maintain tension on the biceps
            during
          </li>
          <li>
            the descent; do not let the weight drop. Repeat the movement for the
          </li>
          <li>
            desired number of repetitions. Exhale during the lifting
            (concentric)
          </li>
          <li>phase and inhale during the lowering (eccentric) phase.</li>
        </ul>
      </div>
      <div class="space-y-1">
        <h1 class="text-[#100D81] text-xl font-semibold">Tips</h1>
        <ul class="list-disc ml-6">
          <li>
            Avoid using momentum by keeping your body still. Focus on isolating
            the biceps.
          </li>

          <li>
            Use a weight that allows you to maintain proper form and control
            throughout the exercise.
          </li>
          <li>
            Ensure a full range of motion, allowing your arms to fully extend at
            the bottom and flex at the top.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
