<div class="w-full">
  <div class="mx-16 space-y-8 py-4">
    <div class="text-center space-y-4">
      <h1 class="text-[#100D81] text-3xl font-semibold">Barbell Bicep Curl</h1>
      <p>
        The barbell Curl is a Classic and effective bicep exercise that target
        the muscles in <br />
        the front of your upper arms, specifically the biceps branchil.
      </p>
    </div>

    <div class="grid grid-cols-3">
      <div>
        <div class="grid grid-cols-1 space-y-4">
          <div class="text-left space-y-1 relative">
            <h1 class="text-[#100D81] text-lg font-semibold">
              Bicep Development
            </h1>
            <img class="absolute" src="/assets/icons/Vector1.png" alt="" />
            <p>
              he barbell bicep curl specifically <br />
              targets the biceps brachii,<br />
              contributing to their development<br />
              and definition
            </p>
          </div>

          <div class="text-left space-y-1 relative">
            <h1 class="text-[#100D81] text-lg font-semibold">
              Strengthen Building
            </h1>
            <img class="absolute" src="/assets/icons/Vector2.png" />
            <p>
              The exercise allows for heavy<br />
              resistance, promoting strength gains <br />
              in the biceps and surrounding <br />
              muscle groups
            </p>
          </div>
        </div>
      </div>

      <div class="relative">
        <img class="size-[380px]" src="/assets/icons/Ellipse 1.png" />
        <img class="absolute top-24" src="/assets/images/imgs.png" alt="icon" />
      </div>

      <div>
        <div class="grid grid-cols-1 space-y-4">
          <div class="text-right space-y-1 relative">
            <h1 class="text-[#100D81] text-lg font-semibold">
              Increased Muscle Engagement
            </h1>
            <img
              class="absolute"
              src="/assets/icons/indicator-right.svg.png"
              alt=""
            />
            <p>
              By maintaining strict form and <br />
              controlling the weight, you ensure that <br />the biceps are doing
              the majority of <br />
              the work, leading to better muscle <br />
              engagement and growth.
            </p>
          </div>
          <div class="text-right space-y-1 relative">
            <h1 class="text-[#100D81] text-lg font-semibold">
              Compound Movement
            </h1>
            <img
              class="absolute"
              src="/assets/icons/indicator-right.svg fill.png"
              alt=""
            />
            <p>
              While primarily an isolation exercise for<br />
              the biceps, the barbell curl involves other<br />
              muscles to a lesser extent, such as the<br />
              forearms, shoulders, and upper back.<br />
              This makes it a compound movement<br />
              that engages multiple muscle groups
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
