<div class="w-full">
  <div class="bg-[#042440] w-full flex flex-col h-92">
    <div class="flex w-full justify-center text-left items-center h-80">
      <div class="w-1/2 ml-20 space-y-8">
        <div>
          <h1 class="text-white font-extrabold text-2xl">
            Download FitSnap Now
          </h1>
          <h2 class="text-white font-medium text-xl">
            and turn every workout into a visual masterpiece
          </h2>
        </div>

        <div class="flex space-x-12">
          <div class="w-40 h-12">
            <a href="https://www.apple.com/in/store">
              <button>
                <img src="/assets/icons/app_store.svg.png" alt="" /></button
            ></a>
          </div>
          <div class="w-40 h-12">
            <a href="https://play.google.com/">
              <button>
                <img src="/assets/icons/google_play.svg.png" alt="" /></button
            ></a>
          </div>
        </div>
      </div>
      <div class="w-1/2 h-full">
        <div class="flex">
          <div class="w-72 h-[480px] mt-24 z-10">
            <img src="/assets/images/mobile2.png" alt="" />
          </div>
          <div class="w-72 h-[480px] mt-40 z-10">
            <img src="/assets/images/mobile1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <img class="w-full h-12" src="/assets/icons/Vector 10.png" alt="" />
  </div>
  <div class="mx-16 my-12">
    <div class="text-center space-y-3">
      <h1 class="text-[#100D81] text-2xl font-semibold">
        Elevate Your Fitness:The AI Workout Plan - Precision,<br />
        Progression, Perfection
      </h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, possimus
        nam.<br />
        Facilis soluta, corporis asperiores alias libero ut consequuntur
        doloribus quaerat distinctio sunt voluptate, cumque commodi.<br />
        Aliquid fugit tempore soluta?
      </p>
    </div>
  </div>
</div>
